In [1]:
print("Hola Mundo")

Hola Mundo

In [9]:
x = 10
y = 3.5
z = "blerg"
print(x, y, z)
print("%d %.3f %s"%(x, y, z))
print("valor:%d\n%.3f\n%s"%(x, y, z))

10 3.5 blerg
10 3.500 blerg
valor:10
3.500
blerg

In [11]:
list_1 = [1,2,3,4,5]

print(list_1[1])

2

In [14]:
list_2 = [1,2,3,4,5,6,7,8,9,10]
print("%d\n%d\n%d\n%d\n%d\n%d\n%d\n%d\n%d\n%d\n"%(list_2[0],list_2[1],list_2[2],list_2[3],list_2[4],list_2[5],list_2[6],list_2[7],list_2[8],list_2[9]))

1
2
3
4
5
6
7
8
9
10

In [20]:
for x in list_2:
    print("valor "+ str(x))

valor1
valor2
valor3
valor4
valor5
valor6
valor7
valor8
valor9
valor10

In [25]:
for x in list_2:
    if (x%2==0):
        print(x)
print("")
for x in list_2:
    if(x%2!=0):
        print(x)

2
4
6
8
10

1
3
5
7
9

In [26]:
var_1 = "Marcia"
print(var_1[1])

a

In [27]:
for x in var_1:
    print(x)

M
a
r
c
i
a

In [29]:
x = 0
while (x < len(var_1)):
    print(var_1[x])
    x+=1

M
a
r
c
i
a

In [30]:
var_3 = {"A01633448":"Marcia"}
print(var_3["A01633448"])

Marcia

In [36]:
def vowel_count(word):
    counter=0
    for x in word:
        if ((x =="a")or (x =="e") or (x=="i") or (x=="u") or (x=="o")):
            counter+=1
    return(counter)
        
var_4=vowel_count("Marcia")
print(var_4)

3

In [114]:
class Employee:
    _name = None 
    _salary = None
    _CURP = None 
    def __init__(self,name_2,salary_2,CURP_2):
        self._name = name_2
        self._salary = salary_2
        self._CURP = CURP_2
    def sad_salary(self):
        if (self._salary < 30000):
            return(":c")
        else:
            return("c:")
    def set_salary(self, new_salary):
        self._salary = new_salary
        
    def get_salary(self):
        return(self._salary)

In [116]:
employee_1 = Employee("Marcia",4000,"MPJV345678")

In [117]:
print(employee_1)

<__main__.Employee object at 0x000001DEFB08FEB0>

In [118]:
print(employee_1._name)
print(employee_1._salary)

Marcia
4000

In [119]:
employee_2 = Employee("Girlemployee", 5000, "GIRL123456")

In [122]:
print(employee_1._name,"\n",employee_2._name)

Marcia
 Girlemployee

In [123]:


(employee_1.sad_salary())

':c'

In [124]:
 
employee_1.set_salary(45000)

In [125]:


(employee_1.sad_salary())

'c:'

In [126]:
print(employee_1._name)
print(employee_1.get_salary())

Marcia
45000

In [159]:
class Car:
    _make = None 
    _model = None
    _color = None 
    _year = None
    _reg_plate= None
    def __init__(self,make_2,model_2,color_2, year_2, reg_plate_2):
        self._make = make_2
        self._model = model_2
        self._color = color_2
        self._year = year_2
        self._reg_plate = reg_plate_2
    def pay_fee(self):
        if (self._year < 2005):
            return("Models older than 2005 must pay the Yearly Registration Fee. \nYour payment is pending. \nLate fees apply.")
        else:
            return("Models older than 2005 must pay the Yearly Registration Fee. \nYour Registration Fee is up to date.")
    def set_reg_plate(self, new_plate):
        self._reg_plate = new_plate
        
    def get_salary(self):
        return(self._make)
    def get_model(self):
        return(self._model)
    def get_color(self):
        return(self._color)
    def get_year(self):
        return(self._year)
    def get_reg_plate(self):
        return(self._reg_plate)

In [161]:
car_1 = Car("Mazda", "x5", "grey", 2004, "JLX8871")

In [162]:
print(car_1._model)

x5

In [163]:
print(car_1._color)

grey

In [164]:
print(car_1.pay_fee())

Models older than 2005 must pay the Yearly Registration Fee.
Your payment is pending.
Late fees apply.

In [165]:
print(car_1.get_reg_plate())

JLX8871

In [166]:
print(car_1._reg_plate)

JLX8871

In [167]:
car_1.set_reg_plate("JJJ666")

In [168]:
print(car_1._reg_plate)

JJJ666